# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/INCA_data/
/chromedriver_mac64/
/Task_2_DSA_position_papers/